.pageHeaderCard {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.greetingText {
  color: #7fffd4;
}
.linkStyle {
  color: white;
  text-decoration: none;
}
.linkIcon {
  font-size: 2.5rem !important;
  margin-left: 10px;
}
